<div class="root-container">
  <div class="header">
    <mat-toolbar>
      <div class="title">Addon Technolgoies</div>
      <div class="user">
        <div>
          Hi {{ user.userName }},
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
            <button mat-menu-item [routerLink]="['/change-password']">
              Change Password
            </button>
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Help</button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div class="content">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav class="sidenav" mode="side" opened>
        <mat-nav-list>
          <mat-list-item>
            <mat-icon>dashboard</mat-icon>

            <a matLine [routerLink]="['dashboard']"> Dashboard </a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>calendar_today</mat-icon>

            <a matLine [routerLink]="['list-appointment']">
              Appointment
            </a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>&#xE87C;</mat-icon>

            <a matLine [routerLink]="['list-customer']">
              Customer
            </a>
          </mat-list-item>
          <mat-list-item>
            <fa name="thumbs-up" size="lg"></fa>
            <a matLine [routerLink]="['list-lead']">
              Leads
            </a>
          </mat-list-item>
          <mat-list-item>
            <fa name="user" size="lg"></fa>
            <a matLine [routerLink]="['list-employee']">
              Employee
            </a>
          </mat-list-item>
          <mat-list-item>
            <fa name="user" size="lg"></fa>
            <a matLine [routerLink]="['list-state']">
              State
            </a>
          </mat-list-item>
          <mat-list-item>
            <fa name="user" size="lg"></fa>
            <a matLine [routerLink]="['list-campaign']">
              Campaign
            </a>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div class="footer">
    <hr />
    <div class="footer-content">
      <div class="footer-item">Privacy Policy</div>
      <div class="footer-item">Sitemap</div>
      <div class="footer-item">© 2000-2019 Addon Technologies.</div>
    </div>
  </div>
</div>
