<h3>Create Lead</h3>
<div fxLayout="column" fxLayoutGap="20px" class="example-form">
  <form name="createAppointment">
    <div fxLayout="column">
      <mat-form-field>
        <input
          matInput
          placeholder="Busineess Name"
          value=""
          name="businessName"
          [(ngModel)]="lead.contact.businessName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Lead Source</mat-label>
        <mat-select name="leadSource" [(ngModel)]="lead.source">
          <mat-option *ngFor="let source of leadSource" [value]="source">
            {{ source.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Propreitor Name"
          value=""
          name="propreitor"
          [(ngModel)]="lead.contact.proprietor.firstName"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Propreitor Mobile Number"
          value=""
          type="number"
          name="propreitorMobile"
          [(ngModel)]="lead.contact.proprietor.mobileNumber"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Contact Person Name"
          value=""
          name="contactPerson"
          [(ngModel)]="lead.contact.contactPerson.firstName"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Contact Person Mobile Number"
          value=""
          type="text"
          name="contactPersonMobile"
          [(ngModel)]="lead.contact.contactPerson.mobileNumber"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Address Line 1"
          value=""
          type="text"
          name="address1"
          [(ngModel)]="lead.contact.contactAddress.address1"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Address Line 2"
          value=""
          type="text"
          name="address2"
          [(ngModel)]="lead.contact.contactAddress.address2"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          name="pname"
          type="text"
          placeholder="Pincode"
          aria-label="Number"
          matInput
          [formControl]="pincodeControl"
          [matAutocomplete]="pauto"
        />
        <mat-autocomplete
          autoActiveFirstOption
         
          #pauto="matAutocomplete"
          name="pincodeauto"
          
          (optionSelected)="onPincodeSelectionChanged($event)"
        >
          <mat-option
            *ngFor="let option of filteredPincodes | async"
            [value]="option.pincode"
          >
            {{ option.pincode }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          placeholder="Locality or Village"
          aria-label="Number"
          matInput
          [formControl]="localityControl"
          [matAutocomplete]="lauto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #lauto="matAutocomplete"
          name="locality"
          [displayWith]="displayLocality" 
          (optionSelected)="onLocalitySelectionChanged($event)"
          
        >
          <mat-option
            *ngFor="let option of filteredLocality | async"
            [value]="option"
          >
            {{ option.localityOrVillageName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          placeholder="Sub Districts"
          aria-label="Number"
          matInput
          [formControl]="subDistrictControl"
          [matAutocomplete]="sdauto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #sdauto="matAutocomplete"
          name="subDistrict"
          [displayWith]="displaySubDistrict" 
          (optionSelected)="onSubDistrictSelectionChanged($event)"
        >
          <mat-option
            *ngFor="let option of filteredSubDistricts | async"
            [value]="option"
          >
            {{ option.subDistrictName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Mobile Number"
          value=""
          type="number"
          name="mobileNumber"
          [(ngModel)]="lead.contact.mobileNumber"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Land Line"
          value=""
          type="number"
          name="landline"
          [(ngModel)]="lead.contact.landline"
        />
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="onSave()">Save</button>
      </div>
    </div>
  </form>
</div>
