<h3>Create Appointment</h3>
<div fxLayout="column" fxLayoutGap="20px" class="example-form">
  <form name="createAppointment">
    <div fxLayout="column">
      <mat-form-field>
        <mat-label>Lead Name</mat-label>
        <mat-select name="leadSelect" [(ngModel)]="appointment.lead">
          <mat-option *ngFor="let lead of leads" [value]="lead">
            {{ lead.user.userName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Choose a date"
          name="appointmentDate"
          [(ngModel)]="appointment.appointmentDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Assigned To</mat-label>
        <mat-select name="assignedTo" [(ngModel)]="appointment.currentStatus.assignedTo">
          <mat-option *ngFor="let employee of employees" [value]="employee">
            {{ employee.user.userName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="duePicker"
          placeholder="Choose a Due date"
          name="dueDate"
          [(ngModel)]="appointment.currentStatus.dueDate"
        />
        <mat-datepicker-toggle matSuffix [for]="duePicker"></mat-datepicker-toggle>
        <mat-datepicker #duePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Comments"
          value=""
          name="comments"
          [(ngModel)]="appointment.currentStatus.comments"
        />
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="onSave()">Save</button>
      </div>
    </div>
  </form>
</div>
